<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="css/styles.css"><!--vinculacion externa-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"><!--vinculacion con fuentes-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <i class="fas fa-align-justify"></i>  
</head>

<body>
    <!--header contendra los elemantos: Logo,Lugar para poner la barra de búsqueda, 
    Comprá en cuotas, sin tarjeta de crédito y la Barra de navegación:-->
    <header>
        <!--Elementos del header logo-mercado-liebre-->
        <div class="top-header">
            <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
        </div>

        <div class="compra">
            <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
        </div>
        
        <!--barra de busqueda-->
        <div class="box">
            <div class="container-1">
              <input type="buscador" id="buscador" placeholder="Buscar productos, marcas" />
              <button class="icon"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <!--lista de la tienda-->  
        <nav>
            <ul>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li> Mis compras</li>
            </ul>
        </nav>
    </header>



    <main>
        <!--Seccion del banner-->
        <div class="banner">
            <img src="images/img-home-banner.jpg" alt="banner">
        </div>

        <!--Seccion de productos-->
        <h1>Basado en tu última visita</h1>
        <div class="cafetera" alt="cafetera">
            <img src="images/img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% OFF</p>
            <h3><strong>Moulinex</strong></h3>
        </div>

        <div class="notebook" alt="notebook">
            <img src="images/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% OFF</p>
            <h3><strong>Pro 2019</strong></h3>
        </div>

        <div class="celular" alt="celular">
            <img src="images/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% OFF</p>
            <h3><strong>Galaxy S10</strong></h3>
        </div>

        <div class="smarttv" alt="smarttv">
            <img src="images/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% OFF</p>
            <h3><strong>Samsung 43</strong></h3>
        </div>

    </main>

    <footer>
        <!--Seccion final-->
        <i class="fas fa-align-justify"></i>

        <div class="pago tarjeta">
            <h4><strong>Pagá con tarjeta o en efectivo</strong></h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin<br>interés con tarjeta o efectivo en
                puntos de<br> pago. ¡Y siempre es seguro!</p>
        </div>

        <div class="envio gratis">
            <h4><strong>Envío gratis desde $ 2.500</strong></h4>
            <p>Solo por estar registrad@ en Mercado Liebre<br>tenés envíos gratis en miles de
                productos. Es<br>un beneficio de Mercado Puntos.</p>
        </div>

        <div class="seguridad">
            <h4><strong>Seguridad, de principio a fin</strong></h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre<br>no hay nada que no puedas hacer,
                porque estás<br>siempre protegid@.</p>
        </div>
        <div>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>

</body>

</html>